# URL de l'API Edlya (OBLIGATOIRE)
#
# Dev avec ngrok :
# API_URL=https://votre-tunnel.ngrok-free.dev
#
# Dev local (simulateur/émulateur) :
# API_URL=http://127.0.0.1:8000
#
# Prod :
# API_URL=https://api.edlya.fr
API_URL=
